<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Task</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="assets/stylesheets/task.css.scss" type="text/css">
	</head>
	<body>
		<div id = "header">
			<div id = "logo"></div>
		</div>
	
		<div id = "content">
			
		</div>
		
		<div id = "footer"></div>
	
	
	
	
	
	
	
	
	</body>
</html>
