<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Task</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="assets/stylesheets/task.css.scss" type="text/css">
        <script src="/assets/javascripts/task.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id = "header">
			<div id = "logo"></div>
            <div id="headermenu">
			    <div id= topmenu>
                    <ul class="topmenu">
				        <li id = "welcome">Welcome, Boyko</li>
				        <li><a href = "#">Support</a></li>
				        <li><a id = "logout" href = "#">Log Out</a></li>
			         </ul>
                </div>
            </div>
            <div id="search">
                <div id="input_search">
                    <div id="searchBlock">
                        <input type="text" value="Search">
                        <select>
                            <option>All</option>
                            <option>One</option>
                        </select>
                    </div>
                    <a href="#"><div id="search_image"></div></a>
                </div>
            </div>
            <div id="search_link">
                <p id="link_search"><a href="#">More Search Options...</a></p>
            </div>
		</div>
	
		<div id = "content">
            <div id="contentheader">
                <ul class="contentheader">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Coach Catalog</a>
                  </li>
                  <li>
                    <a href="#" >Inbox(23)</a>
                  </li>
                </ul>
            </div>
            <div id="contentheaderlink">
                <ul class="contentheader">
                  <li>
                    <a id="contentheaderlink1" href="#">Featured Coaches</a>
                  </li>
                  <li>
                    <a id="contentheaderlink2" href="#">Search for Coaches</a>
                  </li>
                </ul>
            </div>
            <div id="contentmenu">
                <div id="heading">
                    <p>narrow our results</p>
                </div>
                <div id="contentmenusearch">
                    <input id="contentmenuinput" type="text" value="Leadership and San Francisco"
                           size="12">
                    <a href="#"><div id="contentmenuinput_image"></div></a>
                    <div id="contentmenuinput_checkbox">
                      <p><label><input type="checkbox" value="Search within results">Search within results</label></p>
                    </div>
                </div>
                <div id="menuList">
                    <ul>
                      <li><a href="#" onclick="openMenu('sub_menu_1');return(false)">coaching services</a>
                        <ul id="sub_menu_1" class="menuListUL">
                          <li><input type="checkbox">assimilation</li>
                          <li><input type="checkbox">career development</li>
                          <li><input type="checkbox">competency</li>
                          <li><input type="checkbox">development</li>
                        </ul>
                      </li>
                      <li><a href="#" onclick="openMenu('sub_menu_2');return(false)">industry experience</a>
                        <ul id="sub_menu_2" class="menuListUL">
                          <li><input type="checkbox">Engineering</li>
                          <li><input type="checkbox">Executive</li>
                          <li><input type="checkbox">Insurance</li>
                          <li><input type="checkbox">Manager</li>
                        </ul>

                      </li>
                      <li><a href="#" onclick="openMenu('sub_menu_3');return(false)">client level</a>
                        <ul id="sub_menu_3" class="menuListUL">
                          <li><input type="radio" >Any Level</li>
                          <li><input type="radio">CxO</li>
                          <li><input type="radio">VP and above</li>
                          <li><input type="radio">Director and above</li>
                          <li><input type="radio">Manager and above</li>
                        </ul>
                      </li>
                      <li id="location"><a href="#" onclick="openMenu('sub_menu_4');return(false)">location</a>
                        <ul class="menuListUL" id="sub_menu_4">
                            <li id="locationLi1">
                              <p>City</p>
                              <select class="locSelect">
                                <option>San Francisco</option>
                              </select>
                            </li>
                            <li id="locationLi2">
                                <p>State</p>
                                <select class="locSelect">
                                    <option>SA</option>
                                </select>
                            </li>
                        </ul>
                      </li>
                      <li><a href="#" onclick="openMenu('sub_menu_5');return(false)">language</a>
                        <ul class="menuListUL" id="sub_menu_5">
                          <li><input type="checkbox">English</li>
                          <li><input type="checkbox">Ukraine</li>
                          <li><input type="checkbox">Russia</li>
                          <li><input type="checkbox">Germany</li>
                        </ul>
                      </li>
                      <li><a href="#" onclick="openMenu('sub_menu_6');return(false)">hourly rate</a>
                        <ul class="menuListUL" id="sub_menu_6">
                          <li>This is section nil:)</li>
                        </ul>
                      </li>
                      <li id="contentMenuButton">
                        <div id="contentMenuButtonBlock">
                          <input class="menuButton" type="submit" value="Apply">
                          <input class="menuButton" type="reset" value="Clear">
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <div id="coachCatalog">
                <div id="catalogHeader">
                    <p>coach catalog: search results</p>
                </div>
                <div id="catalogRecom">
                    <div id="catalogRecomBlock">
                        <p>recommended coaches(1)</p>
                        <p><a href="#">lisa lin-davies</a></p>
                    </div>
                    <div id="catalogRecomImage"></div>
                </div>
                <div id="catalogButton">
                    <input type="button" value="All Results (4)">
                    <input type="button" value="Company Catalog (2)">
                    <input type="button" value="Scount Catalog (8)">
                </div>
                <div id="catalogTable">
                    <div id="catalogTableHeader"><p>total: 4 coaches</p></div>
                    <div id="catalogTableButton">
                        <input type="button" value="Add to Recommend Coaches">
                        <input type="button" value="Invite New Coaches">
                        <input type="button" value="More Actions">
                    </div>
                    <table id="table">
                            <tr>
                                <th><input type="checkbox"></th><th class="tableColor">name</th><th class="tableColor">industries</th>
                                <th class="tableColor">functional areas</th><th class="tableColor">focus areas</th>
                                <th class="tableColor">client levels</th><th id="inCompCatal" class="tableColor">in company catalog</th>
                                <th colspan="2">actions</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td><td class="tableColor">Marsha Lister</td>
                                <td class="tableIndust">Technology</td><td>Leadership, Assimilation</td>
                                <td>Ipsum Lorem</td><td class="tableIndust">VP and Above</td><td class="inCompCatal">Yes</td>
                                <td class="tableColorActions"><img class="sendMesImage">Send Message</td>
                                <td class="tableColorActions"><img class="selCoachImage">Select Coach</td>
                            </tr>
                            <tr class="tableFon">
                                <td><input type="checkbox"></td><td class="tableColor">Marsha Lister</td>
                                <td class="tableIndust">Technology</td><td>Leadership, Assimilation</td>
                                <td>Ipsum Lorem</td><td class="tableIndust">VP and Above</td><td class="inCompCatal">Yes</td>
                                <td class="tableColorActions"><img class="sendMesImage">Send Message</td>
                                <td class="tableColorActions"><img class="selCoachImage">Select Coach</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td><td class="tableColor">Marsha Lister</td>
                                <td class="tableIndust">Technology</td><td>Leadership, Assimilation</td>
                                <td>Ipsum Lorem</td><td class="tableIndust">VP and Above</td><td class="inCompCatal">Yes</td>
                                <td class="tableColorActions"><img class="sendMesImage">Send Message</td>
                                <td class="tableColorActions"><img class="selCoachImage">Select Coach</td>
                            </tr>
                            <tr class="tableFon">
                                <td><input type="checkbox"></td><td class="tableColor">Marsha Lister</td>
                                <td class="tableIndust">Technology</td><td>Leadership, Assimilation</td>
                                <td>Ipsum Lorem</td><td class="tableIndust">VP and Above</td><td class="inCompCatal">Yes</td>
                                <td class="tableColorActions"><img class="sendMesImage">Send Message</td>
                                <td class="tableColorActions"><img class="selCoachImage">Select Coach</td>
                            </tr>
                    </table>
                </div>
            </div>
            <div id="contentDetails">
                <div id="contentDetailsHeader">
                    <p>details: elsabeth alder&#x2010;Lund</p>
                </div>
                <div id="contentDetailsLeftBlock">
                    <div id="contentDetailsLeftBlockImage">
                      <div id="avatarBorder">
                        <div id="avatar"></div>
                      </div>
                    </div>
                    <div id="contentDetailsLeftBlockContinfo">
                        <div id="ContInfo"><p>contact information</p></div>
                        <div id="ContInfoField">
                            <ul>
                              <li>
                                <p class="contactInfo">phone</p>
                                <p>(415)&nbsp;203&#x2010;5443</p>
                              </li>
                              <li>
                                <p class="contactInfo">mobile phone</p>
                                <p>(415)&nbsp;203&#x2010;5443</p>
                              </li>
                              <li>
                                <p class="contactInfo">email</p>
                                <p><a href="#">elisabeth@techcoachingcorp.com</a></p>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="contentDetailsRightBlock">
                    <div id="rightBlockText">
                        <p id="textHeader">elisabeth alder&#x2010;Lund</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p id="rightBlockTextLink"><a href="#">view full profile</a></p>
                    </div>
                    <div id="rightBlockButton">
                        <form id="formButton" action="#">
                            <input class="rightBlockButton" type="button" value="Select Coach">
                            <input class="rightBlockButton" type="button" value="Send Message">
                            <input class="rightBlockButton" type="button" value="Add to Recommended Coaches">
                        </form>
                    </div>
                    <div id="rightBlockInfo">
                        <div id="blockInfoTop">
                            <ul class="blockInfo">
                              <li><span>industries</span></li>
                              <li><span>functional areas</span></li>
                              <li><span>focus areas</span></li>
                            </ul>
                            <ul class="infoText">
                              <li>Technology, Biotech, Entertaiment, Manufacturing</li>
                              <li>Sales, Marketing, Engineering, Finance, Operations</li>
                              <li>Executive Coaching, Facilitation, Leadership</li>
                            </ul>
                        </div>
                        <div id="blockInfoBorder"></div>
                        <div id="blockInfoBottom">
                        <ul class="blockInfo">
                          <li><span>client levels</span></li>
                          <li><span>credentials</span></li>
                          <li><span>assessments</span></li>
                          <li><span>education</span></li>
                        </ul>
                        <ul class="infoText">
                          <li>C-Level, SVP/EVP, VP, Senior Director/Director</li>
                          <li>Professional Certified Coach, ACF, ASTD</li>
                          <li>MBti</li>
                          <li>BA in Psychology - UCLA, MBA - Haas School of Business</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
		</div>

		<div id = "footer">
            <div id="footerlink">
                <ul id="footermenu">
                  <li><a href="#">Terms of use</a></li>
                  <li class="borderlink"><a href="#">Support</a></li>
                  <li class="borderlink"><a href="#">About</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright @2010 Scout OnDemand, Inc. All rights reserved.</p>
            </div>
		</div>
	</body>
</html>
