<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Task</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="assets/stylesheets/task.css.scss" type="text/css">
	</head>
	<body>
		<div id = "header">
			<div id = "logo"></div>
            <div id="headermenu">
			    <div id= topmenu>
                    <ul class="topmenu">
				        <li id = "welcome">Welcome, Boyko</li>
				        <li><a href = "#">Support</a></li>
				        <li><a id = "logout" href = "#">Log Out</a></li>
			         </ul>
                </div>
            </div>
            <div id="search">
                <div id="input_search">
                    <input type="text" value="Search">
                    <select>
                            <option>All</option>
                            <option>One</option>
                    </select>
                    <div id="search_image"></div>
                </div>
            </div>
            <div id="search_link">
                <p id="link_search"><a href="#">More Search Options...</a></p>
            </div>
		</div>
	
		<div id = "content">
		</div>
		
		<div id = "footer">
		</div>
	
	</body>
</html>
