<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Task</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="assets/stylesheets/task.css.scss" type="text/css">
	</head>
	<body>
		<div id = "header">
			<div id = "logo"></div>
            <div id="headermenu">
			    <div id= topmenu>
                    <ul class="topmenu">
				        <li id = "welcome">Welcome, Boyko</li>
				        <li><a href = "#">Support</a></li>
				        <li><a id = "logout" href = "#">Log Out</a></li>
			         </ul>
                </div>
            </div>
            <div id="search">
                <div id="input_search">
                    <input type="text" value="Search">
                    <select>
                            <option>All</option>
                            <option>One</option>
                    </select>
                    <div id="search_image"></div>
                </div>
            </div>
            <div id="search_link">
                <p id="link_search"><a href="#">More Search Options...</a></p>
            </div>
		</div>
	
		<div id = "content">
            <div id="contentheader">
                <ul class="contentheader">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Coach Catalog</a>
                  </li>
                  <li>
                    <a href="#" >Inbox(23)</a>
                  </li>
                </ul>
            </div>
            <div id="contentheaderlink">
                <ul class="contentheader">
                  <li>
                    <a id="contentheaderlink1" href="#">Featured Coaches</a>
                  </li>
                  <li>
                    <a id="contentheaderlink2" href="#">Search for Coaches</a>
                  </li>
                </ul>
            </div>
            <div id="contentmenu">
                <div id="heading">
                    <p>narrow our results</p>
                </div>
                <div id="contentmenusearch">
                    <input id="contentmenuinput" type="text" value="Leadership and San Francisco"
                           size="12">
                    <div id="contentmenuinput_image"></div>
                    <div id="contentmenuinput_checkbox">
                      <p><label><input type="checkbox" value="Search within results">Search within results</label></p>
                    </div>
                </div>
                <div id="menuList">
                    <ul>
                      <li><a href="#">coaching services</a></li>
                      <li><a href="#">industry experience</a></li>
                      <li><a href="#">client level</a></li>
                      <li><a href="#">location</a></li>
                      <li><a href="#">language</a></li>
                      <li><a href="#">hourly rate</a></li>
                    </ul>
                </div>
                <div id="contentMenuButton">
                    <input class="menuButton" type="submit" value="Apply">
                    <input class="menuButton" type="reset" value="Clear">
                </div>
            </div>

            <div id="coachCatalog">

            </div>
            <div id="contentDetails">
                <div id="contentDetailsHeader">
                    <p>details: elsabeth alder&#x2010;Lund</p>
                </div>
                <div id="contentDetailsLeftBlock">
                    <div id="contentDetailsLeftBlockImage">
                      <div id="avatarBorder">
                        <div id="avatar"></div>
                      </div>
                    </div>
                    <div id="contentDetailsLeftBlockContinfo">
                        <div id="ContInfo"><p>contact information</p></div>
                        <div id="ContInfoField">
                            <ul>
                              <li>
                                <p class="contactInfo">phone</p>
                                <p>(415)&nbsp;203&#x2010;5443</p>
                              </li>
                              <li>
                                <p class="contactInfo">mobile phone</p>
                                <p>(415)&nbsp;203&#x2010;5443</p>
                              </li>
                              <li>
                                <p class="contactInfo">email</p>
                                <p><a href="#">elisabeth@techcoachingcorp.com</a></p>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="contentDetailsRightBlock">
                    <div id="rightBlockText">
                        <p id="textHeader">elisabeth alder&#x2010;Lund</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p id="rightBlockTextLink"><a href="#">view full profile</a></p>
                    </div>
                    <div id="rightBlockButton"></div>
                    <div id="rightBlockInfo"></div>
                </div>
            </div>
		</div>

		<div id = "footer">
            <div id="footerlink">
                <ul id="footermenu">
                  <li><a href="#">Terms of use</a></li>
                  <li class="borderlink"><a href="#">Support</a></li>
                  <li class="borderlink"><a href="#">About</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright @2010 Scout OnDemand, Inc. All rights reserved.</p>
            </div>
		</div>
	</body>
</html>

