body {
  background-image: url(site-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding:0px;
  margin:0px;
}

a {
  text-decoration: none;
}

#header {
  margin: 0px auto;
  width:1155px;
  height:95px;
  display: table;
}

#logo {
  background: url(scout.1.png) center no-repeat;
  width: 110px;
  height: 50px;
  margin: 22px;
  float: left;
}

#headermenu {
  float: right;
  width: 900px;
  margin-bottom: 0px;
}

#topmenu {
  margin: 5px 0px ;
  float:right;
  padding: 0px;
}

.topmenu {
  list-style:none;
  margin: 0px ;
  padding: 0px;
}

#topmenu li {
  display: inline-block;
  padding-right: 0px;
  margin-left: 30px;
}

#topmenu li #logout {
  border-left: 1px solid #85a5c2;
  padding-left: 30px;
}

#topmenu #welcome {
  padding-right: 50px;
  font-weight: bold;
}

#search {
  float:right;
  width: 900px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
 }

#input_search {
  float: right;
}

#search_image {
  float: right;
  background: url(search-icon.png) no-repeat;
  width: 21px;
  height: 21px;
  margin-left: 10px;
}

#search_link {
  float: right;
  width: 900px;
  height: 30px;
}

#link_search a {
  margin:0px 0px 0px 590px;
  display: block;
  font-size: 11px;
  color: #ffffff;
}

#content {
  margin: 0px auto;
  width:1155px;
  height:800px;
  max-width: 1155px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background-color: #ffffff;
  display: table;
}

#contentheader {
  height: 40px;
  display: block;
  background-color: #e6e6e6;
}

.contentheader {
  display: block;
  margin: 0px;
  padding: 0px;
}

#contentheader ul li {
  list-style: none;
  display: inline;
  float: left;
  margin: 0px;
  padding: 0px;
}

#contentheader a {
  padding: 10px;
  display: block;
  border-right: 1px solid #85a5c2;
  color: black;
}

#contentheaderlink {
  height: 35px;
  display: block;
}

#contentheaderlink ul li {
  list-style: none;
  display: inline;
  float: left;
  margin: 5px;
}

#contentheaderlink a {
  padding: 5px 15px;
  display: block;
  font-size: 12px;
}

#contentheaderlink1 {
  border-right: 1px solid #85a5c2;
  color: #3790d3;
}

#contentheaderlink2 {
  color: black;
}

#contentmenu {
  border: 1px solid #e1e1e1;
  float: left;
  width: 300px;
  height: 400px;
}

#heading {
  width: 100%;
  background-color: #d1e7f0;
  border: 1px solid #e1e1e1;

}

#heading p {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 10px 0px;
}

#footer {
  margin: 0px;
  width:100%;
  height:95px;
  display: table;
  font-size: 12px;
}

#footerlink {
  width: 280px;
  position: relative;
  left: 49%;
  right: 20%;
  float: left;
}

#footermenu li {
  display: inline-block;
  padding: 0px 10px;
}

.borderlink {
  border-left: 1px solid black;
}

#copyright {
  width: 380px;
  float: right;
  position: relative;
  right: 0%;
}