body {
  background-image: url(site-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding:0px;
  margin:0px;
}

a {
  text-decoration: none;
}

#header {
  margin: 0px auto;
  width:1155px;
  height:95px;
  display: table;
}

#logo {
  background: url(scout.1.png) center no-repeat;
  width: 110px;
  height: 50px;
  margin: 22px;
  float: left;
}

#headermenu {
  float: right;
  width: 900px;
  margin-bottom: 0px;
}

#topmenu {
  margin: 5px 0px ;
  float:right;
  padding: 0px;
}

.topmenu {
  list-style:none;
  margin: 0px ;
  padding: 0px;
}

#topmenu li {
  display: inline-block;
  padding-right: 0px;
  margin-left: 30px;
}

#topmenu li #logout {
  border-left: 1px solid #85a5c2;
  padding-left: 30px;
}

#topmenu #welcome {
  padding-right: 50px;
  font-weight: bold;
}

#search {
  float:right;
  width: 900px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
 }

#input_search {
  float: right;
}

#search_image {
  float: right;
  background: url(search-icon.png) no-repeat;
  width: 21px;
  height: 21px;
  margin-left: 10px;
}

#search_link {
  float: right;
  width: 900px;
  height: 30px;
}

#link_search a {
  margin:0px 0px 0px 590px;
  display: block;
  font-size: 11px;
  color: #ffffff;
}

#content {
  margin: 0px auto;
  width:1155px;
  height:840px;
  max-width: 1155px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background-color: #ffffff;
  display: table;
}

#contentheader {
  height: 40px;
  display: block;
  border-radius: 4px 4px 0px 0px;
  background: #fcfcfa; /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfa 0%, #e6e6e6 41%, #e6e6e6 74%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfa), color-stop(41%,#e6e6e6), color-stop(74%,#e6e6e6), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfa 0%,#e6e6e6 41%,#e6e6e6 74%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfa 0%,#e6e6e6 41%,#e6e6e6 74%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfa 0%,#e6e6e6 41%,#e6e6e6 74%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfa 0%,#e6e6e6 41%,#e6e6e6 74%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}

.contentheader {
  display: block;
  margin: 0px;
  padding: 0px;
}

#contentheader ul li {
  list-style: none;
  display: inline;
  float: left;
  margin: 0px;
  padding: 0px;
}

#contentheader a {
  padding: 10px;
  display: block;
  border-right: 1px solid #85a5c2;
  color: black;
}

#contentheaderlink {
  height: 35px;
  display: block;
  border-bottom: 1px solid #dddddd
}

#contentheaderlink ul li {
  list-style: none;
  display: inline;
  float: left;
  margin: 5px;
}

#contentheaderlink a {
  padding: 5px 15px;
  display: block;
  font-size: 12px;
}

#contentheaderlink1 {
  border-right: 1px solid #85a5c2;
  color: #3790d3;
}

#contentheaderlink2 {
  color: black;
}

#contentmenu {
  border: 1px solid #e1e1e1;
  float: left;
  width: 212px;
  height: 300px;
}

#heading {
  width: 100%;
  background-color: #d1e7f0;
  border: 1px solid #e1e1e1;
}

#heading p {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  margin: 10px 0px;
}

#contentmenusearch {
  display: block;
  margin: 5px;
  height: 50px;
  width: 100%;
}

#contentmenuinput {
  font-size: 17px;
}

#contentmenuinput_image {
  float: right;
  background: url(search-icon.png) no-repeat;
  width: 21px;
  height: 21px;
  margin: 2px 7px 0px 0px ;
}

#contentmenuinput_checkbox p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

#menuList {
  width: 100%;
  height: 130px;
}

#menuList ul {
  padding: 5px;
  list-style-image: url("demo.gif");
  list-style-position: inside;
  text-transform: capitalize;
  border: 1px solid white;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#menuList ul li {
  border: 1px solid white;
  background-image: url(ui-bg_gloss-wave_35_f6a828_500x100.png);
  background-size: contain;
  background-attachment: fixed;
  box-shadow: 0 0 15px white;
  padding-left: 10px ;
}

#menuList ul li a {
  color: black;
}

#contentMenuButton {
  width: 100%;
  height: 60px;
  border-top: 1px solid #dedede;
  margin-top: 5px;
}

.menuButton {
  margin: 10px auto;
  width: 80px;
  height: 30px;
  margin: 15px 0px 0px 15px;
  padding: 0px;
  background: linear-gradient( #fffffa 50%,#dedede 50%,#dedede 100%);
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #27a2d0;
}

#coachCatalog {
  width: 939px;
  height: 251px;
  float: right;
  border: 1px solid red;
}

#contentDetails {
  display: table;
  width: 925px;
  height: 580px;
  float: right;
  margin-right: 8px;
  border-top: 3px solid #dddddd;
  border-left: 3px solid #dddddd;
}

#contentDetailsHeader {
  width: 100%;
  height: 30px;
  background-color: #cee5ed;
}

#contentDetailsHeader p {
  text-transform: capitalize;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

#contentDetailsLeftBlock {
  float: left;
  width: 271px;
  height: 420px;
}

#contentDetailsLeftBlockImage {
  width: 100%;
  height: 180px;
}

#contentDetailsLeftBlockImage #avatarBorder {
  width: 126px;
  height: 156px;
  border: 2px solid #dddddd;
  border-radius: 7px;
  margin: 10px;
}

#contentDetailsLeftBlockImage #avatar {
  background: url("955SkinHate.jpg") no-repeat;
  width: 120px;
  height: 150px;
  margin: 3px;
  border-radius: 7px;
}

#contentDetailsLeftBlockContinfo {
  width: auto;
  margin: 0px 10px;
  height: 227px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

#contentDetailsLeftBlockContinfo #ContInfo {
  width: auto;
  height: 20px;
  background-color: #3996d4;
  border-radius: 5px 5px 0px 0px;
}

.contactInfo {
  font-weight: bold;
}

#ContInfo p {
  color: #ffffff;
  margin: 0px;
  text-transform: capitalize;
  padding-left: 30px;
  font-size: 15px;
}

#ContInfoField ul {
  list-style: none;
  margin: 0px;
  padding-left: 10px;
}

#ContInfoField ul li {
  margin: 10px 0px 15px 0px;
}

#ContInfoField ul li p {
  margin:0px;
  text-transform: capitalize;
  font-size: 15px;
}

#ContInfoField ul li p a {
  text-transform: none;
  font-size: 13px;
  color: #087bcd;
}

#contentDetailsRightBlock {
  float: right;
  display: table;
  width: 650px;
  height: 455px;
}

#rightBlockText {
  width: 410px;
  height: 250px;
  float: left;
}

#rightBlockText #textHeader {
  text-transform: capitalize;
  font-size: 17px;
  color: #03699c;
  font-weight: bold;
  margin: 5px 0px 0px 10px;
}

#rightBlockText .text {
  margin: 10px 5px 20px 10px;
}

#rightBlockTextLink {
  font-size: 13px;
  float: right;
  text-transform: capitalize;
  margin-right: 5px;
}

#rightBlockButton {
  width: 238px;
  height: 250px;
  float: right;
}

#formButton {
  padding: 5px;
  margin-top: 30px;
}

.rightBlockButton {
  width: 228px;
  height: 30px;
  margin-bottom: 5px;
  background: #cee9f2; /* Old browsers */
  background: -moz-linear-gradient(top, #cee9f2 0%, #a0c2df 50%, #207cca 100%, #9ec0de 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee9f2), color-stop(50%,#a0c2df), color-stop(100%,#207cca), color-stop(100%,#9ec0de)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cee9f2 0%,#a0c2df 50%,#207cca 100%,#9ec0de 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cee9f2 0%,#a0c2df 50%,#207cca 100%,#9ec0de 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cee9f2 0%,#a0c2df 50%,#207cca 100%,#9ec0de 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cee9f2 0%,#a0c2df 50%,#207cca 100%,#9ec0de 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee9f2', endColorstr='#9ec0de',GradientType=0 ); /* IE6-9 */
  border-radius: 5px ;
  border: 1px solid #DEDEDE;
  color: black;
}

#rightBlockInfo {
  display: table;
  width: 650px;
  height: 200px;
  float: left;
  border: 1px solid #DDDDDD;
  border-radius: 7px;
  background: #fafad4; /* Old browsers */
  background: -moz-linear-gradient(top, #fafad4 0%, #f5e6a2 50%, #f5e6a2 51%, #f5e6a2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafad4), color-stop(50%,#f5e6a2), color-stop(51%,#f5e6a2), color-stop(100%,#f5e6a2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafad4 0%,#f5e6a2 50%,#f5e6a2 51%,#f5e6a2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafad4 0%,#f5e6a2 50%,#f5e6a2 51%,#f5e6a2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafad4 0%,#f5e6a2 50%,#f5e6a2 51%,#f5e6a2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fafad4 0%,#f5e6a2 50%,#f5e6a2 51%,#f5e6a2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafad4', endColorstr='#f5e6a2',GradientType=0 ); /* IE6-9 */

}

#blockInfoTop {
  display: table;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #dddddd;
}

#blockInfoBottom {
  display: table;
  width: 100%;
  height: 100px;
}

.blockInfo {
  float: left;
  width: 145px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
}

.infoText {
  width: 450px;
  float: right;
  font-size: 15px;
  list-style: none;
  padding-left: 0px;
  margin-right: 0px;
}

#footer {
  margin: 0px;
  width:100%;
  height:95px;
  display: table;
  font-size: 12px;
}

#footerlink {
  width: 280px;
  position: relative;
  left: 49%;
  right: 20%;
  float: left;
}

#footermenu li {
  display: inline-block;
  padding: 0px 10px;
}

.borderlink {
  border-left: 1px solid black;
}

#copyright {
  width: 380px;
  float: right;
  position: relative;
  right: 0%;
}